<html>
    <div id="result"></div>
</html>
<script>
    let permissionData = {{ permissions | safe }}; // pulls data from Python as 2d array
    var str = "";

    permissionData.forEach(printData); // runs printData() on each row in table
    function printData(permissionData) { 
        for(var i = 0; i < permissionData.length - 1; i++) { // loops through all columns in row
            var linkNeed = false;

            str += permissionData[i] + ", "; // appends column data with ', ' and puts in innerHTML
        }
        
        str += permissionData[permissionData.length - 1]; // appends last column item without ','
        str += "<br>"; // closes tag in innerHTML
    }

    document.getElementById("result").innerHTML = str;
</script>
