<html>
    <div id="result"></div>
</html>
<script>
    let logData = {{ personLogs | safe }}; // pulls data from Python as 2d array
        var str = "";
    
        logData.forEach(printData); // runs printData() on each row in table
        function printData(logData) { 
            for(var i = 0; i < logData.length - 1; i++) { // loops through all columns in row
                var linkNeed = false;
    
                str += logData[i] + ", "; // appends column data with ', ' and puts in innerHTML
            }
            
            str += logData[logData.length - 1]; // appends last column item without ','
            str += "<br>"; // closes tag in innerHTML
        }
    
        document.getElementById("result").innerHTML = str;
</script>
