<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Duck Duck Goose | User Logs</title>
        <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png">
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spreadsheets.css') }}" />
    <h1><a href="{{ url_for('index') }}"><img src = "../static/img/duck100px.png" width = "30" length = "30"></a></h1><br>
    <h2 id="theader"></h2>
    <table id="result">
        <tr>
            <th>time</th>
            <th>room_id</th>
        </tr>
    </table>
</html>
<script>
setTimeout(function(){
   window.location.reload(1);
}, 5000);

let logData = {{ personLogs | safe }}; // pulls data from Python as 2d array
    document.getElementById("theader").innerHTML = "<h2>" + logData[0][4] + " " + logData[0][5] + "</h2>";
    var str = "<tr>";

    logData.forEach(printData); // runs printData() on each row in table
    function printData(logData) { 
        for(var i = 1; i < logData.length - 4; i++) { // loops through all columns in row
            str += "<td>" + logData[i] + "</td>"; // appends column data with ', ' and puts in innerHTML
        }
        
        str += "<td>" + logData[logData.length - 4] + "</td>"; // appends last column item without ','
        str += "</tr>"; // closes tag in innerHTML
    }

    document.getElementById("result").innerHTML += str;
</script>
