<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spreadsheets.css') }}" />
    <table id="result">
        <tr>
            <th>room_num</th>
            <th>building_name</th>
        </tr>
    </table>
</html>
<script>
    let roomsData = {{ rooms | safe }}; // pulls data from Python as 2d array
    var str = "";
    var columnVal = "";
    roomsData.forEach(printData); // runs printData() on each row in table
    function printData(roomsData) { 
        str += "<tr><td><a href='{{ url_for('room_logs', columnVal='roomsData') }}''".replace("roomsData", roomsData[0]);
        for(var i = 0; i < roomsData.length - 1; i++) { // loops through all columns in row
            str += "<td> " + roomsData[i] + " </td>"; // appends column data with ', ' and puts in innerHTML

            if(i == 0) {
                str += "</td></a>"
            }
        }
        

        str += "<td>" + roomsData[roomsData.length - 1] + "</td>"; // appends last column item without ','
        str += "</tr>"; // closes tag in innerHTML
    }
    document.getElementById("result").innerHTML += str;
</script>