<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spreadsheets.css') }}" />
    <table id="result">
        <tr>
            <th>room_num</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>email</th>
            <th>time_of_scan</th>
        </tr>
    </table>
</html>
<script>
let logData = {{ roomLogs | safe }}; // pulls data from Python as 2d array
    var str = "<tr>";

    logData.forEach(printData); // runs printData() on each row in table
    function printData(logData) { 
        for(var i = 0; i < logData.length - 1; i++) { // loops through all columns in row
            str += "<td>" + logData[i] + "</td>"; // appends column data with ', ' and puts in innerHTML
        }
        
        str += "<td>" + logData[logData.length - 1] + "</td>"; // appends last column item without ','
        str += "</tr>"; // closes tag in innerHTML
    }

    document.getElementById("result").innerHTML += str;
</script>